/* 上の部分は気にせずここから書く */



.box2 p1 {/*画像の位置子供2人、画像文字ボタンの位置*/
	font-size: 25px;
    position: relative;
	width:auto;
}

.ro{color:white/*文字色*/
}
.ro{
	position: relative;
	top:-200px;
	left:200px;
	font-size: 25px;
}

.button02 a {/*縄跳び・ロープ寄付はこちらからbutton*/
	display: flex;
	padding: 1em 2em;
	width: 300px;
	color: black;
	font-size: 14px;
	font-weight: 1000;
	background-color:white;
	border-radius: 100vh;
	position: relative;
	bottom:1200px;
	left:200px;
}


.flex {
display: flex; /*ロゴと文字の横並び*/
margin: 0 auto;
}
.flex .image {
width: 640px; /*ロゴ文字サイズ指定ROPEASE PROJECT*/
margin: 0 auto;
}
.flex .text {/*ROPEASE PROJECTの位置と大きさと太字*/
font-size: 30px;
font-weight: bold;/*太字*/
}

.tok{
	position: relative;
	top:-6300px;
	right:50px;
}

header{     /*ヘッドLINK位置*/
	/*リンク位置上に固定*/
}

/*リンクを黒字*/
a{color:black}
/*リンク全体を左に150px*/
/*.flex{
    margin-left:150px;
} */



.p0{
	font-size: 30px;
	font-weight: bold;/*太字*/
}

.under {/*アンダーラインの色*/
	text-decoration :3px solid underline red;
position: relative;
bottom:475px;
}

.efg{/*ボックスの影*/
	box-shadow: 4px 4px 4px gray;
}


.button03 a {
	display: flex;

	padding: 1em 2em;
	width: 280px;
	color: black;
	font-size: 13px;
	font-weight: 700;
	background-color: white;
	border-radius: 100vh;

}
.button03{/*画像の位置子供2人、画像文字ボタンの位置*/
	position: relative;
    top: 150px;
    left: 500px;


}
p2{color:white}/*指定タグ文字色*/
p2{position:relative;top: 0px;left:-10px;}/*文章本体の位置指定*/
p2{}/*指定タグ文章本体の中央寄せ*/
p2{font-size:25px;}





div.box5 {/*フッターのライン*/
    border-top: 1px solid white;
    position: relative;
	bottom: 1000px;
}
footer {/*フッターの位置*/
	position: relative;
	left: 0;
	right: 0;
	top:0px;
	bottom: 0;
	width: 100%;/*文字位置*/
	height: 100px;/*文字位置*/
	color:white;/*字の色*/

}

.ABC{
	width:300px;
	height:300px;
}

.DOG{
	width:300px;
	height:300px;
}

.WO{
	width:480px;
	height:270px;
}



li{/*ヘッドリンク横並び*/
	float: right;
}
.zzz{
    display: flex;/*画面にflexを適用*/
    justify-content: center;
    flex-wrap: wrap;/*floatでの横並び維持*/
}



.zzz{
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0 auto;
}

.cover {/*赤っぽい下の画像*/
	width: 1300px;
	height: 300px;
	background-image: url("../3_2/images/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top:-950px;
}

.box2 {/*赤っぽいライン上の背景画像の各指定*/
	background: url("../3_2/images/bg.png"); /* 背景画像を指定 */
	width: 1300px;   /* 画像にあわせて適当な幅を指定 */
	height:390px;
	position: relative;
	bottom:6300px;
}


body,
#wrapper {/*body全体を中央寄せOK*/
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0 auto;
position: relative;
top:3150px;
}


.top{
	position: relative;
	color: white;
	top:-4865px;
	left:440px;
}
.flex{/*static,relative,absolute,fixed,stickyやはりどれも画面サイズで崩れる*/
	/*position:static;
	top:1000px;*/
}


ul.example li {
	display: inline;
	margin-right: 10px;
	position: relative;
	top:-6270px;
	left:100px;
	}

	.flex {
		display: flex; /*ロゴと文字の横並び*/
		text-align: center;
		margin: 0 auto;
	  }
	  .flex .image {
		width: 640px; /*ロゴ文字サイズ指定ROPEASE PROJECT*/
		margin: 0;
		position: relative;
		right:25px;
		top:-20px;
	  }
	  .flex .text {/*ROPEASE PROJECTの位置と大きさと太字*/
		margin: 0 0 10 0px;
		font-size: 30px;
		font-weight: bold;/*太字*/
		position: absolute;
		top:-6290px;
	  }

	  .topp{/*OK*/
		  position:relative;
		  top:20px;
		  left:700px;
}
